.filterRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 30px;
  column-gap: 20px;
}

.data-table {
  border-collapse: collapse;
}

.data-table thead th {
  background-color: #f5f5f5;
}

.icons-handle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  /* width: 100%; */
}

.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}

/* .data-table tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
  
.data-table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
} */

.containerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  margin-left: 20px;
}

.mobileBtn {
  display: none !important;
}

.iconBtnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px;
  border: 2px solid white;
  border-radius: 8px;
}

.iconActive {
  background-color: white;
  color: black;
}

.iconDeactive {
  background-color: lightgray;
  color: black;
}

@media only screen and (max-width: 600px) {
  .filterRow {
    margin-top: 0px !important;
  }

  .addNew {
    /* padding-top: 20px; */
    display: none !important;
  }

  .mobileBtn {
    display: inline-block !important;
  }

  .iconBtnBox {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 0px; */
  }

  .date {
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: "10px";
    flex-direction: column;
  }

  .date .form-group {
    width: 45%;
  }

  .containerBtn {
    margin-left: 0px !important;
  }
}

#transactionsTable,
#transactionsTableMobile {
  margin-bottom: 20px;
}

@media (min-width: 801px) {
  #transactionsTableMobile {
    display: none;
  }
}

@media (max-width: 800px) {
  #transactionsTable {
    display: none;
  }
}

#transactionsTable tr > th,
#transactionsTable tr > td {
  border-left: 1px solid lightgray;
}

#transactionsTable tr > :first-child {
  border-left: none;
}

.ant-image-preview-operations-wrapper > button.ant-image-preview-close {
  top: 29px;
  right: 29px;
}

.transaction-details {
  width: 100%;
}

.card-body {
  overflow: auto;
}

.transaction-details tr th:last-child {
  font-weight: normal;
  padding: 5px 0;
}

.transaction-details tr th:first-child {
  padding: 5px 0;
  padding-right: 10px;
}

.transaction-details tr {
  border-bottom: 1px solid lightgray;
}

.transaction-details tr:last-child {
  border-bottom: none;
}

.transaction-details.transactions tr:first-child th {
  padding-top: 10px;
}

.transaction-details.transactions tr:last-child th {
  padding-bottom: 10px;
}

.transaction-details.transactions tr th:first-child {
  background-color: #9e9eff;
  padding-left: 20px;
}

.transaction-details.transactions tr th:last-child {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid lightgray;
}

#transactionsTable tr td div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#transactionsTable tr th {
  white-space: pre;
  text-align: center;
}

.ant-image img {
  object-fit: cover;
}

@media (max-width: 800px) {
  .mainContent {
    flex-wrap: wrap;
  }
  .mainContent > div:first-child.card-open {
    min-width: calc(100% - 20px) !important;
    max-width: calc(100% - 20px) !important;
  }
}

.table > :not(caption) > tr:last-child > td {
  border-bottom-width: 0;
}

@media (min-width: 940px) {
  .filterRow {
    height: 0;
    transform: translate(calc((var(--username) + 75px) * -1), -95px);
  }
}

@media (max-width: 626px) {
  .filterRow .half {
    width: calc(50% - 10px);
  }

  .filterRow .full {
    width: calc(100%);
  }
}

.btn:disabled.fullopacity {
  opacity: 1;
}
